@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.game {
  color: $white-default;
  max-width: 1440px;
  width: 100%;
  margin: 40px auto 20px;
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  &__name {
    margin: 0;
    text-align: left;
  }

  &__steamApi {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  &__adminform {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  &__mainInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    row-gap: 20px;
    column-gap: 0;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selectContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: $white-default;
    // text-align: start;
    // align-self: flex-start;
    // margin-bottom: 30px;
  }

  &__buttonContainer {
    width: 275px;
    height: 40px;
  }

  &__select {
    border: 0.2em solid #ffffff;
    background: rgba(#000000, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: #ffffff;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__name {
    display: flex;
    justify-content: space-between;
  }

  &__images {
    margin-top: 20px;
    display: flex;
    border-top: 2px solid white;
    padding-top: 20px;
  }

  &__poster {
    width: 800px;
    height: 400px;
  }
  &__text {
    width: 100%;
  }

  &__textBlock {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
  }

  &__categories {
    list-style: none;
    padding: 0;
    height: 250px;
    width: 400px;
    overflow-y: scroll;
    border: 2px solid white;
    margin: 0;
    margin-top: 20px;
    padding-left: 5px;
    padding-top: 5px;
  }

  &__categoriesBlock {
    display: flex;
    justify-content: space-between;
  }
  &__screen {
    width: 230px;
    height: 110px;
  }
  &__screenList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 20px;
  }

  &__inputLinks {
    display: flex;
    margin-top: 10px;
    align-items: end;
    gap: 10px;
  }

  &__setImageButton {
    width: 200px;
    height: 35px;
  }
}
