@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.novelty {
  background-color: $section-first;
  padding: 0 40px;
  color: $white-default;
 

  &__container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__header {
    @include font-h2-semibold;
    text-align: start; 
    max-width: 1440px;
    margin: 20px auto 15px;
   }
}