@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.novelty {
  background-color: $section-first;
  padding: 0 40px;
  color: $white-default;

  &__container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &__header {
    @include font-h2-semibold;
    text-align: start;
    max-width: 1440px;
    margin: 20px auto 15px;
  }
}

// @media screen and (max-width: 800px) {
//   .novelty {
//     padding: 0 15px;
//   }
// }

@media screen and (max-width: 600px) {
  .novelty {
    // max-width: calc((100vw - 460px*2 - 90px));
    // width: calc((100vw - 30px*2 - 60px)/3);
    padding: 0 15px;

    &__container {
      justify-content: center;
    }
    &__header {
      text-align: center;
    }
  }
}
