@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.carousel {
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  max-width: 700px;
  box-sizing: border-box;


  &__screenshots {
    // position: unset !important;

    list-style: none;
    padding: 0;
    display: flex;

    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    transition: transform 0.5s ease;

    text-align: center;
    // position: relative;
  }

  &__screen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &__button {
    background-color: transparent;

    border: none;
    cursor: pointer;
    padding: 0;

    &_left {
      left: -10px;
    }
    &_right {
      right: -10px;
    }
  }
}

.swiper-pagination {
  bottom: -25px !important;
  // max-width: 300px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(14, 107, 189) !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 4;

  // transform: translateY(-50%);


  top: 50%;
  cursor: pointer;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  left: -20px;
  background-image: url('../../assets/arrow-collapse-svgrepo-com.svg');
  transform: rotate(90deg) translateX(-50%);
}

.swiper-button-next {
  right: -20px;
  background-image: url('../../assets/arrow-collapse-svgrepo-com.svg');
  transform: rotate(-90deg) translateX(50%);
}


@media screen and (max-width: 1280px){
  .carousel {
    max-width: 100%;
  }
}