@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.section {
  color: rgb(232, 230, 227);
  background-color: $section-first;

  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 0 40px;
  min-height: calc(100vh - 70px);
}

.card {
  max-width: 1440px;
  width: 100%;
  margin-top: 30px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__adminLink {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__inStock {
    @include font-body-signature;
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    gap: 3px;

    &_inStock {
      color: $green-default;
    }
    &_outOfStock{
      color: $main-orange;
    }
  }




  &__parameter {
    opacity: 0.7;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 710px;
    width: 100%;
    background-color: $section-second;
    border-radius: 10px;
    gap: 20px;
    padding: 15px;
    position: relative;
  }

  &__infoContainer {
    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  &__oldPrice {
    text-decoration: line-through;
    opacity: 0.7;
  }

  &__imageContainer {
    display: flex;
    flex-direction: column;
    // min-height: 500px;
  }



  &__tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, 1fr);

    justify-content: space-between;
    row-gap: 20px;
    column-gap: 5px;
    flex: 1;
  }

  &__tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 95px;

    max-width: 120px;
    width: 100%;
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.6;

    &_active {
      color: #00bbff;
      opacity: 1;
      border-color: #00bbff;
    }
  }
  &__tagImage {
    height: 40px;
    width: 40px;
  }

  &__absence {
    text-align: center;
  }

  &__tagText {
    @include font-body-filters;
    text-align: center;
  }

  &__name {
    margin: 0;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__poster {
    width: 700px;
    height: 350px;
    border-radius: 10px;
  }

  &__priceBlock {
    display: flex;
    align-items: end;
    gap: 4px;
  }

  &__cost {
    @include font-h2-semibold;

    margin: 0;
    line-height: 1;
  }
  &__discount {
    background-color: #3d9966;
    border-radius: 6px;
    height: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  &__logo {
    width: 20px;
    height: 20px;
  }

  &__infoItem {
    display: flex;
    gap: 7px;
  }
  &__platform {
    width: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    color: $white-default;
  }

  &__platform:hover {

    color: $blue-default;
  }





  &__buttonContainer {
    width: 180px;
    height: 45px;
  }

  &__likeButtonContainer {
    width: 50px;
    height: 45px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }


  &__doubleButton {
    display: grid;
    grid-template-columns: 55px 1fr 55px;
    justify-content: center;
    height: 100%;
    border: 3px solid $blue-default;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:  $blue-default;
  }

  &__count {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}





@media screen and (max-width: 1280px) {
  .card {
    &__content {
      flex-direction: column;
    }
    &__infoContainer {
      gap: 10px;
    }
    &__info {
      max-width: 100%;
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
    }
    &__tags {
      // min-height: 150px;
      row-gap: 10px;
    }
    &__tag {
      max-height: 70px;
    }

    &__tagText {
    }

    &__tagImage {
      height: 50%;
      width: 50%;
    }

    &__imageContainer {
      align-items: center;
      // height: auto;
    }
    &__buttons {
      flex-direction: column;
      align-items: center;
      // min-height: 100px;
      height: 100%;
      justify-content: space-between;
      // align-self: flex-end;
      gap: 20px;

    }

    &__poster {
      // width: 100%;
    }
  }
}

@media screen and (max-width: 1060px) {
  .card {
    &__info {
      flex-direction: column;
      align-items: normal;
    }
    &__buttons {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 800px) {
  .card {
    margin-top: 30px;
    &__poster {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .section{
    padding: 0 15px;
  }
}


@media screen and (max-width: 460px) {

  .card {

    &__tags {
      grid-template-columns: repeat(2, 1fr);
      // margin: 0 auto;
      // justify-content: space-between;
      // column-gap: 60px;
      row-gap: 5px;

    }
    &__infoItem {
      font-size: 12px;
    }
    &__inStock {
      font: 8px;
      position: initial;
    }
  }
}
