@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.info {
  width: 100%;
  display: flex;
  // justify-content: center;
  background-color: $section-second;
  border-radius: 20px;
  padding: 40px;
  justify-content: space-between;
}


.info > * + * {
  border-left: 3px solid $white-default;
}