@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.chat {
  width: 100%;
  // height: 100%;
  border-radius: 30px;
  background-color: $section-second;
  overflow: hidden;
color: $white-default;
position: relative;

  &__header {
    text-align: start;
    padding: 20px;
    background-color: $section-second;
    border-bottom: 5px solid $section-first;
    box-sizing: border-box;
  }

  &__container {
    padding: 20px 0 20px;
  }
  &__messageList {
    width: 100%;
    height: calc(100vh - 500px);



    overflow-y: scroll;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0;
    box-sizing: border-box;
    padding: 0 20px;
    overflow-y: scroll;
    gap: 10px;
  }

  &__notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    @include font-body-regular
  }
  &__inputContainer {
    display: flex;
    height: 40px;
    gap: 10px;
    border-top: 2px solid white;
    padding: 20px;
  }

  &__input {
    width: 100%;
    outline:none;

    border: none;
    background-color: $section-second;
    color: $white-default;
  }

  &__buttonContainer {
    width: 200px;
  }
}
