@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';


.item {
  display: grid;
  grid-template-columns: 40px repeat(6, 1fr);
  justify-content: space-between;
  background-color: $section-first;
  height: 60px;
  align-items: center;
  opacity: 0.9;

  &__link {
    text-decoration: underline;
    color: white;
  }

  &__id {
    text-align: center;
    // align-items: center;
  }
}

.item:nth-child(2n) {
  background-color: $section-second;
}

.item:hover .item__link {
  color: $main-orange;
  opacity: 1;
}
