@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    @include font-preview-bold;
}





.primary {
    text-align: center;
    text-decoration: none;
    color: white; 
    background-color: $blue-default;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;

  }
  
  .primary:hover {
    background-color: #fff;
    color: #0c3cb8;
  }


  
.secondary {
  text-align: center;
  text-decoration: none;
  color: $white-default;
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  // padding: 0;
}

.secondary:hover {
  background-color: #fff;
  color: #0c3cb8;
}

