@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    @include font-preview-bold;
    display: flex;
    align-items: center;
  justify-content: center;
}

.primary {
    text-align: center;
    text-decoration: none;
    color: white; 
    background-color: $blue-default;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    &_inactive {
      opacity: 0.2;
      cursor: default;
      pointer-events: none;
      background-color: rgb(96, 86, 86, 0.5);
    }
  }
  
  .primary:hover {
    background-color: #fff;
    color: #0c3cb8;
  }


  
.secondary {
  text-align: center;
  text-decoration: none;
  color: #0c3cb8;
  background-color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  // padding: 0;
  &_inactive {
    opacity: 0.2;
    cursor: default;
    pointer-events: none;

}
}

.secondary:hover {
  background-color: #0c3cb8;
  color: #fff;

}

