.admWrapper {
    background-color: #3c373d;
    flex: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // max-width: 1280px;
    // width: 100%;
    // margin: 0 auto;
    padding-top: 50px;
}

