.section {
  display: flex;
  color: white;
  // min-height:calc( 100vh - 70px);
  padding: 0 40px;
  max-width: 1520px;
  width: 100%;
  box-sizing: border-box;
  margin: 30px auto;
  // justify-content: space-between;
  gap: 30px;
}

.profile {
  color: white;
  // width: 80%;
  // margin-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  position: relative;
}

// .card {
//   max-width: 300px;
//   width: 100%;
//   position: relative;
// }
.header {
  background-color: white;
  width: 100%;
  height: 100px;
}

.image {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 150px;
  transform: translate(-50%, 0%);
  box-shadow: 0 0 0 5px black;
  object-fit: cover;
}

.mail {
  margin: 70px auto 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 840px;
}

.navBlock {
    margin-top: 60px;
}

.linkList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: start;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}