@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.modal {
  position: fixed ;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white-default;
  z-index: 1;
  @include font-body-regular;

  &__container {
    max-width: 400px;
    width: 100%;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;

    background-color: $section-second;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    // margin-bottom: 20px;
    // border-bottom: 1px solid $white-default;
  }
  &__nav {
    display: flex;
    gap: 15px;
    justify-content: end;
  }
  &__buttonContainer {
    width: 100px;
    height: 30px;
  }

  &__screenContainer {
    // height: 80%;
    width: 75%;
    // opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__screen {
    width: 92%;
    border-radius: 20px;
    height: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;

  }

  &__close {
    position: absolute;
    top: -8%;
    right: 0;
    height: 10%;
    width: 4%;
    color: $white-default;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
  }
  &__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
