@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.section {
  display: flex;
  justify-content: center;
  color: white;
  height: 80vh;
  align-items: center;
  flex-direction: column;
}

.login {
  margin-bottom: 10px;

  &__buttonContainer {
    height: 45px;
    min-width: 130px;

    max-width: 190px;
  }
  &__header {
    width: 600px;
    text-align: end;

    border-bottom: 3px white solid;
    margin-bottom: 30px;
  }
  &__name {
    @include font-h1-bold;
  }


  &__link {
    text-decoration: underline;
    color: $white-default;
  }

  &__danger {
    color: $warning-color;
    min-height: 20px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  
    border-bottom: 3px white solid;
    padding-bottom: 30px;
    align-items: center;
  }
  

}




