@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.game {
  min-height: 80px;

  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  gap: 10px;
  border-bottom: 1px white solid;

  padding-bottom: 10px;

  // box-shadow:
  justify-content: space-between;

  &__imageContainer {
    position: relative;
    // height: 78px;
    // width: 160px;
  }

  &__image {
    height: 80px;
    width: 180px;

    border-radius: 5px;
    object-fit: cover;
  }

  &__name {
    margin: 0;
    @include font-table-bold;
    // max-width: 320px;
  }

  &__deleteBtn {
    text-align: right;
    border: navajowhite;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    max-width: 320px;
    width: 100%;

    // border-right: 1px solid white;
    // outline: auto;

    min-width: 150px;
    margin-right: auto;
  }

  &__activation {
    position: absolute;
    height: 25px;
    left: 0;
  }

  &__regions {
    @include font-body-signature;
    // overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: auto;
    max-width: 320px;
    color: $warning-color;
  }
  &__categories {
    font-size: 14px;
    color: blanchedalmond;
    text-decoration: dotted;
  }

  &__quantity {
    display: flex;
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__price {
    // margin-left: 40px;
    // margin-right: 40px;
    // flex: 1;
    text-align: end;
    max-width: 65px;
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__startPrice {
    text-decoration: line-through;
    text-align: end;
    max-width: 65px;
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__quantityBtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  &__platform {
    @include font-body-filters;
    // margin-top: auto;
    margin-bottom: 5px;
  }

  &__link {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    max-width: 490px;
    width: 100%;
    gap: 10px;
  }
}

.game:last-child {
  border: none;
}
