@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.game {
  // height: 100px;
  display: flex;
  margin: 17px auto;
  color: $white-default;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
box-sizing: border-box;

  &__image {
    min-width: 190px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
  }

  &__info {
    // height: 70px;
    // max-width: 250px;
    width: 100%;
    text-align: left;
    // margin-left: 20px;
    margin-left: 10px;
    // margin-right: auto;
    // min-width: 145px
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  // &__header {
  // display: flex;
  // gap: 10px;
  // width: 100%;
  // }

  &__icon {
    display: block;
    // height: 15px;
    width: 15px;
  }
  &__name {
    @include font-h3-bold;

    margin: 0;
    // min-width: 50px;
    max-width: 250px;

    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: auto;

    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  &__description {
    @include  font-body-signature;
    margin: 0;
  }

  &__priceBlock {
    // flex: auto;
    @include font-body-regular;

    display: flex;
    justify-content: end;
    max-width: 130px;
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }

  &__price {
    font-weight: 900;
    text-wrap: nowrap;
  }

  &__discount {
    background-color: $green-discount;
    max-width: 50px;
    width: 100%;
    height: 30px;
    color: $white-default;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  &__oldPrice {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.game:hover {
  background-color: rgba(158, 156, 156, 1);
  color: black;
}

.game:hover .game__discount {
  color: white;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

// .hoverEffect {
// transition: background-color 0.3s, color 0.3s;
// }


@media screen and (max-width: 900px) {
  .game {
    // display: none;
    flex-direction: column;
    padding: 10px;
    position: relative;
    gap: 10px;
  &__image {
    // min-width: 190px;
    height: auto;
    width: 100%

  }
  &__priceBlock {
    // flex: auto;
    @include font-body-regular;
    max-width: 100%;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
  }
  &__info {
    text-align: center;
    align-items: center;
    margin-left: 0;

  }
  &__discount {
    position: absolute;
    right: 4%;
    top: 7%;
  }
  &__price {
margin-left: auto;
  }
  &__name {
    @include font-h2-semibold;
max-width: 100%;
  }
  &__description {
    @include  font-body-filters;
  }
  }
}