@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';


.payForm {
  display: flex;
  flex-direction: column;
  // background-color: $section-first;

  &__input {
    border: #000000 2px solid;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: #000000 solid 1px;
  }

  &__holderName {
    margin-bottom: 10px;
  }

  &__number {
    margin-bottom: 10px;
  }

  &__expiration {
    width: 45%;
  }

  &__cvv {
    width: 45%;
  }

  &__result {
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__buttonContainer {
    height: 35px;
    margin-top: auto;
  }
}