@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.popular {
  // min-height: 200px;
  background-color: $section-first;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

  color: $white-default;
 

  &__container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    // width: 100%;
    padding-bottom: 20px
  }

  &__header {
    @include font-h2-semibold;
    margin: 20px auto 15px;
  }
}




@media screen and (max-width: 1440px){
  .popular {
    // min-height: 300px;

    &__container {
      margin: 0 30px;
    }
  }
}